[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restx = "*"
nltk = "*"
numpy = "*"
Flask = "*"
Flask-Cors = "*"
SQLAlchemy = "*"
Sastrawi = "*"
gunicorn = "*"
werkzeug = "2.1.2"

[dev-packages]

[requires]
python_version = "3.10"
